/* font et police */

@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.turret-road-light {
  font-family: "Turret Road", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-medium {
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.turret-road-extrabold {
  font-family: "Turret Road", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* ________________________________ */

body {
  margin: 0;
  font-family: Old English Text MT, Impact, Arial, sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 46, 4, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(images/cobra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  overflow: hidden;
}

main::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

/*header*/

.entete{
  width: 100vw;
  height: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  border-bottom: 2px solid #063114;
  box-sizing: border-box;
  background-color: #06311442;
  backdrop-filter: blur(10px);
}

.entete img{
  width: 2%;
  height: wrap;
  min-width: 32px;
  min-height: 32px;
  max-width: 64px;
  max-height: 64px;
  margin: 1%;
}

.game-zone {
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
}

/*logo et score*/
.logo-score {
  width: 100%;
  height: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#logo-c{
  color: yellow;
}
#score{
  color: yellow;
  font-size: 2em;
  transition: 0.5s;
  text-shadow: 5px 5px 5px black;
}
#score:hover{
  font-size: 2.2em;
  cursor: pointer;
}

#logo{
  color: rgb(7, 165, 78);
  font-size: 3em;
  transition: 0.5s;
  text-shadow: 5px 5px 5px black;
}
#logo:hover{
  color: green;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px #022c3d;
}

/*zone de jeu*/
.canvas-and-btn {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-items: center;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-width: 100px;
  max-height: 500px;
  min-height: 100px;
  border: 5px solid yellow;
  background-color: rgba(5, 65, 5, 0.1);
  margin: 10px auto;
  display: block;
}

#controls {
  height: wrap;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.ctrlBtn{
  margin-bottom: 32px;
}

.btn {
  width: 6vw;
  height: 6vh;
  min-width: 32px;
  min-height: 32px;
  max-width: 64px;
  max-height: 64px;
}

.centeur{
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

/*******meilleurs score******/
#best-score{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  backdrop-filter: blur(10px);
  z-index: 4;
  position: absolute;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
}

#tbscore1{
  display: block;
  width: 100%;
  height: wrap;
  justify-items: center;
  margin: 20px 10px 0;
  box-sizing: border-box;
}

#tbscore2{
  display: flex;
  width: 100%;
  height: wrap;
  justify-content: center;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 5%;
}

.closeBtn{
  width: wrap;
  height: wrap;
  top: 4px;
  right: 4px;
  position: absolute;
  margin: 1vh 1vw 0 0;
}

.closeBtn:hover{
  cursor: pointer;
}

#titreScore{
  width: 80%;
  height: wrap;
  font-size: 2em;
  color: yellow;
  text-align: center;
  margin: 10px auto;
}

#scoreTable {
  display: flex;
  border-collapse: collapse;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#scoreTable tr th{
  width: 20vw;
  color: yellow; 
  font-family: Old English Text MT;
}

#scoreTable tr th, #scoreTable td {
  border: 1px solid black;
  padding: 8px;
  background-color: #022c3d;
  font-size: 1em;
}

#scoreTable td{
  color: rgb(255, 255, 255);
  text-align: center;
}


#rang{
  border: 1px solid black;
  margin-right: 5px;
  border-collapse: collapse;
  background-color: #022c3d;
  color: rgb(7, 165, 78);
  display: flex;
}
#rang th, #rang td{
  border: 1px solid black;
  padding: 8px;
  background-color: #022c3d;
  color: yellow;
  font-size: 1em;
}
#rang tr{
  height: wrap;
  width: wrap;
}

/*__________________________*/


#snake1{
  position: absolute;
  left: 2%;
  height: 70vh;
  width: 445px;
  margin-top  : 5%;
  margin-bottom: 5%;
}
#snake2{
  position: absolute;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0%;
  margin-left: 0px;
  padding: 0px;

}
button{
  width: wrap;
  height: wrap;
  background-color: transparent;
  border: 0;
}

button img {
  width: 32px;
  height: 32px;
}

button img:hover {
  cursor: pointer;
  background-attachment: fixed;
  background-color: #022c3d36;
  border: 1px solid #022c3dc9;
  border-radius: 50%;
}

/*sauvegarder le score*/

#save-score {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  backdrop-filter: blur(10px);
  z-index: 2;
  position: absolute;
  display: none;
  align-content: center;
  justify-items: center;
}

#nameInput{
  z-index: 2;
  width: 80%;
  height: 50%;
  display: block;
  align-content: center;
}

#nameInput p {
  font-family: Impact;
  font-size: 2.5em;
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px 2px #022c3d;
}

#closeOver{
  margin: 32px auto !important;
  display: block !important;
}

.save {
  width: 200px;
  height: 40px;
  min-width: 50px;
  max-height: 50px;
  max-width: 300px;
  min-height: 30px;
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#playerName{
  color: #022c3d;
  border: 2px solid #022c3d;
}

#submitScore{
  background-color: #022c3d;
  border: 2px solid yellow;
  transition: 1s;
  color: yellow;
}

#submitScore:hover{
  background-color: #063114;
  letter-spacing: 1px;
}

/*_____________*/

audio{
  display: none;
}
